.mainContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 300px 300px 250px;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    'Nav Nav Nav Nav'
    'Monthly-Income Monthly-Expense Cash-Flow Forecast'
    'Assets Budget Transactions Transactions'
    'Balances Trend Transactions Transactions';
}

.Card {
  background: white;
  border-radius: 15px;
  box-shadow: 1px 0px 15px #00000030;
}

.Navigation {
  grid-area: Nav;
}

.MonthlyIncomeCard {
  grid-area: Monthly-Income;
}

.MonthlyExpenseCard {
  grid-area: Monthly-Expense;
}

.CashFlowCard {
  grid-area: Cash-Flow;
}

.ForecastCard {
  grid-area: Forecast;
}

.AssetsCard {
  grid-area: Assets;
}

.BudgetCard {
  grid-area: Budget;
}

.BalanceCard {
  grid-area: Balances;
}

.TrendChartCard {
  grid-area: Trend;
}

.TransactionsCard {
  max-height: 400px;
  grid-area: Transactions;
  overflow-y: scroll;
}
